---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";
import Footer from "@/components/Footer.astro";

const posts = await getCollection("posts");
---

<Layout>
  <main class="flex flex-col gap-16">
    <article class="flex flex-col gap-6">
      <section>
        <h1 class="text-3xl font-semibold text-neutral-100">
          {presentation.title}
        </h1>
        <h1>/bɛn dɛˈmaɪ/</h1>
      </section>
      <h2
        class="text-justify leading-6 text-neutral-100"
        set:html={convertAsteriskToStrongTag(presentation.description)}
      />

      <SocialLinks />
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="font text-xl font-semibold text-neutral-100">
          Recent Posts
        </h3>
        <Link href="/posts" label="See all posts →" />
      </header>
      {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

      <section class="flex flex-col gap-2 md:flex-row md:flex-wrap">
        {
          posts.length !== 0 &&
            posts
              .slice(0, 3)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                />
              ))
        }
      </section>
    </article>

    <Footer />
  </main>
</Layout>
